<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../Css/style.css">
    <title>COMPRA GAMER 2 | Compra Gamer 2</title>
</head>
<body>
    <header>
        <main>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  <a class="navbar-brand" href="../../index.html"><img src="../img/logo1.jpg" class="logo" alt=""></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Productos
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="../View/Procesador.html">Procesadores</a></li>
                          <li><a class="dropdown-item" href="../View/MemoriaRam.html">Memorias Ram</a></li>
                          <li><a class="dropdown-item" href="../View/Mothers.html">Mothers</a></li>
                          <li><a class="dropdown-item" href="../View/Teclados.html">Teclados</a></li>
                          <li><a class="dropdown-item" href="../View/DiscorRigido.html">Almacenamiento</a></li>
                          <li><a class="dropdown-item" href="../View/Mouse.html">Mouse</a></li>
                          <li><a class="dropdown-item" href="../View/Auriculares.html">Auriculares</a></li>
                          <li><a class="dropdown-item" href="../View/Parlantes.html">Parlantes</a></li>
                          <li><a class="dropdown-item" href="../View/Microfonos.html">Microfonos</a></li>
                          <li><a class="dropdown-item" href="../View/Cooler.html">Coolers</a></li>
                          <li><a class="dropdown-item" href="../View/PlacaDeVideo.html">Placas de Video</a></li>
                          <li><a class="dropdown-item" href="../View/Gabinetes.html">Gabinetes</a></li>
                          <li><a class="dropdown-item" href="../View/Fuentes.html">Fuentes</a></li>
                          <li><a class="dropdown-item" href="../View/Monitores.html">Monitores</a></li>
                          <li><a class="dropdown-item" href="../View/Sillas.html">Sillas Gamers</a></li>
                        </ul>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Sobre Nosotros</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Sponsor
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="https://www.amd.com/es.html" target="_blank"><img class="Sponsor" src="../img/amd.png" alt="amd logo"></a></li>
                          <li><a class="dropdown-item" href="https://www.intel.la/content/www/xl/es/homepage.html" target="_blank"><img class="Sponsor" src="../img/intel.png" alt="intel logo"></a></li>
                          <li><a class="dropdown-item" href="https://www.nvidia.com/es-la/" target="_blank"><img class="Sponsor" src="../img/nvidia.png" alt="nvidia logo"></a></li>
                          <li><a class="dropdown-item" href="https://www.westerndigital.com/es-la/brand/wd-black" target="_blank"><img class="Sponsor" src="../img/wd.png" alt="wd_black logo"></a></li>
                          <li><a class="dropdown-item" href="https://rog.asus.com" target="_blank"><img class="Sponsor" src="../img/rog.png" alt="republic of gamers logo"></a></li>
                          <li><a class="dropdown-item" href="https://row.hyperx.com" target="_blank"><img class="Sponsor" src="../img/hyperx.png" alt="hyper x logo"></a></li>
                        </ul>
                      </li>
                    </ul>
                    <form class="d-flex" role="search">
                      <input class="form-control me-2" type="search" placeholder="Buscar Articulo" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Buscar</button>
                     <button class="btn btn-outline-success" type="button"><a href="../View/form.html">Registrarse</a></button>
                     <button class="btn btn-outline-success" type="button"><a href="">Iniciar Sesion</a>
                    </button>
                    </form>
                  </div>
                </div>
              </nav>
        </main>
    </header>
    <article>
      <section>
        <img class="hear-img" src="../img/discos1.jpg" alt="">
          <h2>Discos Rigidos</h2>
          <hr>
          <div class="grid-padre">
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Disco Rígido WD 1TB BLUE 64MB SATA.jpg" alt=""><h3>Disco Rígido WD 1TB BLUE 64MB SATA 6.0GB/s<br><br><span>$ 31.700</span> <br><button class="cyan">Añadir</button></h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Disco Rígido WD 1TB BLUE 64MB SATA1.jpg" alt=""><h3> Capacidad: 1000 gb <br>
                Velocidad De Interface: 6.0 <br>
                Tipo De Conexión: SATA <br>
                Tipo De Disco: Mecánico </h3>
            </div>
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Disco Rígido Seagate 2TB Barracuda 256MB.jpg" alt=""><h3>Disco Rígido Seagate 2TB Barracuda 256MB 7.2K RPM<br><br><span>$ 48.350</span><br><button class="cyan">Añadir</button> </h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Disco Rígido Seagate 2TB Barracuda 256MB1.jpg" alt=""><h3> Capacidad: 2048 gb <br>
                Velocidad De Interface: 6.0 <br>
                Tipo De Conexión: SATA <br>
                Tipo De Disco: Mecánico</h3>
            </div>
          </div>
          <div class="grid-padre">
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Disco Rigido WD 2TB BLUE 256MB SATA 6.0GB.jpg" alt=""><h3>Disco Rigido WD 2TB BLUE 256MB SATA 6.0GB/s 7200RP<br><br><span>$ 48.500</span> <br><button class="cyan">Añadir</button></h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Disco Rigido WD 2TB BLUE 256MB SATA 6.0GB.jpg" alt=""><h3> Capacidad: 2000 gb <br>
                Velocidad De Interface: 0.0<br>
                Tipo De Conexión: SATA <br>
                Tipo De Disco: Mecánico</h3>
            </div>
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Disco Rigido Toshiba 4TB X300 Peformance 7.2K RPM 128MB.jpg" alt=""><h3>Disco Rigido Toshiba 4TB X300 Peformance 7.2K RPM 128MB <br><br><span>$ 65.150</span> <br><button class="cyan">Añadir</button></h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Disco Rigido Toshiba 4TB X300 Peformance 7.2K RPM 128MB1.jpg" alt=""><h3> Capacidad: 4000 gb <br>
                Velocidad De Interface: 6.0<br>
                Tipo De Conexión: SATA <br>
                Tipo De Disco: Mecánico</h3>
            </div>
          </div>
          <div class="grid-padre">
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Disco Rigido Seagate 14TB SkyHawk AI ST14000VE0008.jpg" alt=""><h3>Disco Rigido Seagate 14TB SkyHawk AI ST14000VE0008<br><br><span>$ 175.000</span> <br><button class="cyan">Añadir</button></h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Disco Rigido Seagate 14TB SkyHawk AI ST14000VE00081.jpg" alt=""><h3> Capacidad: 14000 gb <br>
                Velocidad De Interface: 6.0<br>
                Tipo De Conexión: SATA <br>
                Tipo De Disco: Mecánico</h3>
            </div>
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Disco Rigido WD 12TB Gold 7.2K RPM 256MB.jpg" alt=""><h3>Disco Rigido WD 12TB Gold 7.2K RPM 256MB <br><br><span>$ 203.300</span><br><button class="cyan">Añadir</button> </h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Disco Rigido WD 12TB Gold 7.2K RPM 256MB1.jpg" alt=""><h3> Capacidad: 12000 gb <br>
                Velocidad De Interface: 6.0<br>
                Tipo De Conexión: SATA <br>
                Tipo De Disco: Mecánico</h3>
            </div>
          </div>
          <div class="grid-padre">
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Disco Rigido WD 14TB Purple 7.2K RPM 512MB.jpg" alt=""><h3>Disco Rigido WD 14TB Purple 7.2K RPM 512MB<br><br><span>$ 205.400</span><br><button class="cyan">Añadir</button> </h3></a>
            </div>
            <div class="contenido">
               <img class="imagn-column" src="../img/Disco Rigido WD 14TB Purple 7.2K RPM 512MB1.jpg" alt=""><h3> Capacidad: 14000 gb <br>
                Velocidad De Interface: 6.0<br>
                Tipo De Conexión: SATA <br>
                Tipo De Disco: Mecánico</h3>
            </div>
          </div>
          <br><br>
        </section>
    </article>
    <aside>

    </aside>
    <footer class="pie">
      <h6>Seguinos en:</h6>
      <div>
      <a href="https://www.facebook.com/compragamer" target="_blank"><img src="../img/facebook_108044.png" alt=""></a>
      <a href="https://www.instagram.com/compragamer_oficial/" target="_blank"><img src="../img/instagram_108043.png" alt=""></a>
      <a href="https://www.youtube.com/c/CompraGamer" target="_blank"><img src="../img/youtube_108041.png" alt=""></a>
      <H4 class="derecho">
        Derechos reservados por mi, Maxi
      </H4>
      </div>
  </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>