<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../Css/style.css">
    <title>COMPRA GAMER 2 | Compra Gamer 2</title>
</head>
<body>
    <header>
        <main>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  <a class="navbar-brand" href="../../index.html"><img src="../img/logo1.jpg" class="logo" alt=""></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Productos
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="../View/Procesador.html">Procesadores</a></li>
                          <li><a class="dropdown-item" href="../View/MemoriaRam.html">Memorias Ram</a></li>
                          <li><a class="dropdown-item" href="../View/Mothers.html">Mothers</a></li>
                          <li><a class="dropdown-item" href="../View/Teclados.html">Teclados</a></li>
                          <li><a class="dropdown-item" href="../View/DiscorRigido.html">Almacenamiento</a></li>
                          <li><a class="dropdown-item" href="../View/Mouse.html">Mouse</a></li>
                          <li><a class="dropdown-item" href="../View/Auriculares.html">Auriculares</a></li>
                          <li><a class="dropdown-item" href="../View/Parlantes.html">Parlantes</a></li>
                          <li><a class="dropdown-item" href="../View/Microfonos.html">Microfonos</a></li>
                          <li><a class="dropdown-item" href="../View/Cooler.html">Coolers</a></li>
                          <li><a class="dropdown-item" href="../View/PlacaDeVideo.html">Placas de Video</a></li>
                          <li><a class="dropdown-item" href="../View/Gabinetes.html">Gabinetes</a></li>
                          <li><a class="dropdown-item" href="../View/Fuentes.html">Fuentes</a></li>
                          <li><a class="dropdown-item" href="../View/Monitores.html">Monitores</a></li>
                          <li><a class="dropdown-item" href="../View/Sillas.html">Sillas Gamers</a></li>
                        </ul>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Sobre Nosotros</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Sponsor
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="https://www.amd.com/es.html" target="_blank"><img class="Sponsor" src="../img/amd.png" alt="amd logo"></a></li>
                          <li><a class="dropdown-item" href="https://www.intel.la/content/www/xl/es/homepage.html" target="_blank"><img class="Sponsor" src="../img/intel.png" alt="intel logo"></a></li>
                          <li><a class="dropdown-item" href="https://www.nvidia.com/es-la/" target="_blank"><img class="Sponsor" src="../img/nvidia.png" alt="nvidia logo"></a></li>
                          <li><a class="dropdown-item" href="https://www.westerndigital.com/es-la/brand/wd-black" target="_blank"><img class="Sponsor" src="../img/wd.png" alt="wd_black logo"></a></li>
                          <li><a class="dropdown-item" href="https://rog.asus.com" target="_blank"><img class="Sponsor" src="../img/rog.png" alt="republic of gamers logo"></a></li>
                          <li><a class="dropdown-item" href="https://row.hyperx.com" target="_blank"><img class="Sponsor" src="../img/hyperx.png" alt="hyper x logo"></a></li>
                        </ul>
                      </li>
                    </ul>
                    <form class="d-flex" role="search">
                      <input class="form-control me-2" type="search" placeholder="Buscar Articulo" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Buscar</button>
                     <button class="btn btn-outline-success" type="button"><a href="../View/form.html">Registrarse</a></button>
                     <button class="btn btn-outline-success" type="button"><a href="">Iniciar Sesion</a>
                    </button>
                    </form>
                  </div>
                </div>
              </nav>
        </main>
    </header>
    <article>
      <section>
        <img class="hear-img" src="../img/fuente.jpg" alt="">
          <h2>Fuentes de Alimentacion</h2>
          <hr>
          <div class="grid-padre">
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Fuente Redragon 600W 80 Plus Bronze GC-PS002.jpg" alt=""><h3>Fuente Redragon 600W 80 Plus Bronze GC-PS002<br><br><span>$ 38.800</span><br><button class="cyan">Añadir</button></h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Fuente Redragon 600W 80 Plus Bronze GC-PS0021.jpg" alt=""><h3> Watts Nominal: 600 w<br>
                Watts Reales: 576 w <br>
                Conector Cpu 4 Pines: 1<br>
                Iluminación: Sin Iluminación<br>
                Conexiones Sata: 6
              </h3>
            </div>
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Fuente Redragon 500W 80 Plus Bronze GC-PS001.jpg" alt=""><h3>Fuente Redragon 500W 80 Plus Bronze GC-PS001<br><br><span>$ 45.500</span><br><button class="cyan">Añadir</button> </h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Fuente Redragon 500W 80 Plus Bronze GC-PS0011.jpg" alt=""><h3> Watts Nominal: 650 w<br>
                Watts Reales: 576 w <br>
                Conector Cpu 4 Pines: 1<br>
                Iluminación: Sin Iluminación<br>
                Conexiones Sata: 6</h3>
            </div>
          </div>
          <div class="grid-padre">
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Fuente Thermaltake Smart BX1 650W RGB 80 Plus Bronze.jpg" alt=""><h3>Fuente Thermaltake Smart BX1 650W RGB 80 Plus Bronze<br><br><span>$ 45.500</span> <br><button class="cyan">Añadir</button></h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Fuente Thermaltake Smart BX1 650W RGB 80 Plus Bronze1.jpg" alt=""><h3> Watts Nominal: 500 w<br>
                Watts Reales: 480 w <br>
                Conector Cpu 4 Pines: 1<br>
                Iluminación: RGB<br>
                Conexiones Sata: 6</h3>
            </div>
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Fuente Aerocool Cylon 600W Full Range RGB 80 Plus Bronze.jpg" alt=""><h3>Fuente Aerocool Cylon 600W Full Range RGB 80 Plus Bronze<br><br><span>$ 43.350</span> <br><button class="cyan">Añadir</button></h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Fuente Aerocool Cylon 600W Full Range RGB 80 Plus Bronze1.jpg" alt=""><h3> Watts Nominal: 650 w<br>
                Watts Reales: 576 w <br>
                Conector Cpu 4 Pines: 1<br>
                Iluminación: RGB<br>
                Conexiones Sata: 6</h3>
            </div>
          </div>
          <div class="grid-padre">
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Fuente Deepcool 600W DA600 80 Plus Bronze.jpg" alt=""><h3>Fuente Deepcool 600W DA600 80 Plus Bronze<br><br><span>$ 37.650</span> <br><button class="cyan">Añadir</button></h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Fuente Deepcool 600W DA600 80 Plus Bronze1.jpg" alt=""><h3> Watts Nominal: 600 w<br>
                Watts Reales: 552 w <br>
                Conector Cpu 4 Pines: 1<br>
                Iluminación: Sin Iluminación<br>
                Conexiones Sata: 5</h3>
            </div>
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Fuente Deepcool 500W DA500 80 Plus Bronze.jpg" alt=""><h3>Fuente Deepcool 500W DA500 80 Plus Bronze<br><br><span>$ 32.350</span><br><button class="cyan">Añadir</button> </h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Fuente Deepcool 500W DA500 80 Plus Bronze1.jpg" alt=""><h3> Watts Nominal: 500 w<br>
                Watts Reales: 456 w <br>
                Conector Cpu 4 Pines: 1<br>
                Iluminación: Sin Iluminación<br>
                Conexiones Sata: 5</h3>
            </div>
          </div>
          <div class="grid-padre">
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Fuente Gigabyte 650W 80 Plus Bronze P650B.jpg" alt=""><h3>Fuente Gigabyte 650W 80 Plus Bronze P650B<br><br><span>$ 47.850</span><br><button class="cyan">Añadir</button> </h3></a>
            </div>
            <div class="contenido">
               <img class="imagn-column" src="../img/Fuente Gigabyte 650W 80 Plus Bronze P650B1.jpg" alt=""><h3> Watts Nominal: 650 w<br>
                Watts Reales: 650 w <br>
                Conector Cpu 4 Pines: 1<br>
                Iluminación: Sin Iluminación<br>
                Conexiones Sata: 6</h3>
            </div>
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Fuente Be Quiet 850W 80 Plus Gold PURE POWER 11 Full Modular.jpg" alt=""><h3>Fuente Be Quiet 850W 80 Plus Gold PURE POWER 11 Full..<br><br><span>$ 76.700</span> <br><button class="cyan">Añadir</button></h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Fuente Be Quiet 850W 80 Plus Gold PURE POWER 11 Full Modular1.jpg" alt=""><h3> Watts Nominal: 850 w<br>
                Watts Reales: 850 w <br>
                Conector Cpu 4 Pines: 2<br>
                Iluminación: Sin Iluminación<br>
                Conexiones Sata: 10</h3>
            </div>
          </div>
          <div class="grid-padre">
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Fuente Deepcool 700W DA700 80 Plus Bronze.jpg " alt=""><h3>Fuente Deepcool 700W DA700 80 Plus Bronze <br><br><span>$ 42.900</span><br><button class="cyan">Añadir</button></h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Fuente Deepcool 700W DA700 80 Plus Bronze1.jpg" alt=""><h3> Watts Nominal: 700 w<br>
                Watts Reales: 650 w <br>
                Conector Cpu 4 Pines: 1<br>
                Iluminación: Sin Iluminación<br>
                Conexiones Sata: 5</h3>
            </div>
          <div class="grid-padre">
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Fuente Be Quiet 1000W 80 Plus Gold PURE POWER 11 Full Modular.jpg " alt=""><h3>Fuente Be Quiet 1000W 80 Plus Gold PURE POWER 11 Full..<br><br><span>$ 89.050</span><br><button class="cyan">Añadir</button></h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Fuente Be Quiet 1000W 80 Plus Gold PURE POWER 11 Full Modular1.jpg" alt=""><h3> Watts Nominal: 1000 w<br>
                Watts Reales: 1000 w <br>
                Conector Cpu 4 Pines: 2<br>
                Iluminación: Sin Iluminación<br>
                Conexiones Sata: 10</h3>
            </div>
          </div>
          <br><br>
        </section>
    </article>
    <aside>

    </aside>
    <footer class="pie">
      <h6>Seguinos en:</h6>
      <div>
      <a href="https://www.facebook.com/compragamer" target="_blank"><img src="../img/facebook_108044.png" alt=""></a>
      <a href="https://www.instagram.com/compragamer_oficial/" target="_blank"><img src="../img/instagram_108043.png" alt=""></a>
      <a href="https://www.youtube.com/c/CompraGamer" target="_blank"><img src="../img/youtube_108041.png" alt=""></a>
      <H4 class="derecho">
        Derechos reservados por mi, Maxi
      </H4>
      </div>
  </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>