<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../Css/style.css">
    <title>COMPRA GAMER 2 | Compra Gamer 2</title>
</head>
<body>
    <header>
        <main>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  <a class="navbar-brand" href="../../index.html"><img src="../img/logo1.jpg" class="logo" alt=""></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Productos
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="../View/Procesador.html">Procesadores</a></li>
                          <li><a class="dropdown-item" href="../View/MemoriaRam.html">Memorias Ram</a></li>
                          <li><a class="dropdown-item" href="../View/Mothers.html">Mothers</a></li>
                          <li><a class="dropdown-item" href="../View/Teclados.html">Teclados</a></li>
                          <li><a class="dropdown-item" href="../View/DiscorRigido.html">Almacenamiento</a></li>
                          <li><a class="dropdown-item" href="../View/Mouse.html">Mouse</a></li>
                          <li><a class="dropdown-item" href="../View/Auriculares.html">Auriculares</a></li>
                          <li><a class="dropdown-item" href="../View/Parlantes.html">Parlantes</a></li>
                          <li><a class="dropdown-item" href="../View/Microfonos.html">Microfonos</a></li>
                          <li><a class="dropdown-item" href="../View/Cooler.html">Coolers</a></li>
                          <li><a class="dropdown-item" href="../View/PlacaDeVideo.html">Placas de Video</a></li>
                          <li><a class="dropdown-item" href="../View/Gabinetes.html">Gabinetes</a></li>
                          <li><a class="dropdown-item" href="../View/Fuentes.html">Fuentes</a></li>
                          <li><a class="dropdown-item" href="../View/Monitores.html">Monitores</a></li>
                          <li><a class="dropdown-item" href="../View/Sillas.html">Sillas Gamers</a></li>
                        </ul>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Sobre Nosotros</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Sponsor
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="https://www.amd.com/es.html" target="_blank"><img class="Sponsor" src="../img/amd.png" alt="amd logo"></a></li>
                          <li><a class="dropdown-item" href="https://www.intel.la/content/www/xl/es/homepage.html" target="_blank"><img class="Sponsor" src="../img/intel.png" alt="intel logo"></a></li>
                          <li><a class="dropdown-item" href="https://www.nvidia.com/es-la/" target="_blank"><img class="Sponsor" src="../img/nvidia.png" alt="nvidia logo"></a></li>
                          <li><a class="dropdown-item" href="https://www.westerndigital.com/es-la/brand/wd-black" target="_blank"><img class="Sponsor" src="../img/wd.png" alt="wd_black logo"></a></li>
                          <li><a class="dropdown-item" href="https://rog.asus.com" target="_blank"><img class="Sponsor" src="../img/rog.png" alt="republic of gamers logo"></a></li>
                          <li><a class="dropdown-item" href="https://row.hyperx.com" target="_blank"><img class="Sponsor" src="../img/hyperx.png" alt="hyper x logo"></a></li>
                        </ul>
                      </li>
                    </ul>
                    <form class="d-flex" role="search">
                      <input class="form-control me-2" type="search" placeholder="Buscar Articulo" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Buscar</button>
                     <button class="btn btn-outline-success" type="button"><a href="../View/form.html">Registrarse</a></button>
                     <button class="btn btn-outline-success" type="button"><a href="">Iniciar Sesion</a>
                    </button>
                    </form>
                  </div>
                </div>
              </nav>
        </main>
    </header>
    <article>
      <section>
        <img class="hear-img" src="../img/parlantes.jpg" alt="">
          <h2>Parlantes</h2>
          <hr>
          <div class="grid-padre">
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Parlantes Genius SP-HF180 Wood USB.jpg" alt=""><h3>Parlantes Genius SP-HF180 Wood USB<br><span>$ 10.150</span> <br><br><button class="cyan">Añadir</button></h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Parlantes Genius SP-HF180 Wood USB1.jpg" alt=""><h3> Colores: Marron,Negro <br>
                Conexión: Cableado<br>
                Inalámbrico Por Bluetooth: Si
              </h3>
            </div>
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Parlantes Genius SP-U125 USB Black.jpg" alt=""><h3>Parlantes Genius SP-U125 USB Black<br><br><span>$ 10.300</span><br><button class="cyan">Añadir</button> </h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Parlantes Genius SP-U125 USB Black1.jpg" alt=""><h3> Colores: Negro <br>
                Conexión: Cableado<br>
                Inalámbrico Por Bluetooth: Si</h3>
            </div>
          </div>
          <div class="grid-padre">
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Parlantes Genius SP-HF180 Negro USB.jpg" alt=""><h3>Parlantes Genius SP-HF180 Negro USB<br><br><span>$ 10.450</span> <br><button class="cyan">Añadir</button></h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Parlantes Genius SP-HF180 Negro USB1.jpg" alt=""><h3> Colores: Negro <br>
                Conexión: Cableado<br>
                Inalámbrico Por Bluetooth: Si</h3>
            </div>
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Parlantes Genius SP-HF280 USB Wood.jpg" alt=""><h3>Parlantes Genius SP-HF280 USB Wood <br><br><span>$ 11.500</span> <br><button class="cyan">Añadir</button></h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Parlantes Genius SP-HF280 USB Wood1.jpg" alt=""><h3> Colores: Marron <br>
                Conexión: Cableado<br>
                Inalámbrico Por Bluetooth: Si</h3>
            </div>
          </div>
          <div class="grid-padre">
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Parlantes Logitech S150 Black USB 2.0.jpg" alt=""><h3>Parlantes Logitech S150 Black USB 2.0<br><br><span>$ 12.400</span> <br><button class="cyan">Añadir</button></h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Parlantes Logitech S150 Black USB 2.0.jpg" alt=""><h3> Colores: Negro <br>
                Conexión: Cableado<br>
                Inalámbrico Por Bluetooth: Si</h3>
            </div>
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Parlantes Logitech Z120 Stereo 3.5 USB.jpg" alt=""><h3>Parlantes Logitech Z120 Stereo 3.5 USB<br><br><span>$ 12.800</span><br><button class="cyan">Añadir</button> </h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Parlantes Logitech Z120 Stereo 3.5 USB1.jpg" alt=""><h3> Colores: Blanco <br>
                Conexión: Cableado<br>
                Inalámbrico Por Bluetooth: Si</h3>
            </div>
          </div>
          <div class="grid-padre">
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Parlantes Genius SP-HF380 Wood Bluetooth 5.0.jpg" alt=""><h3>Parlantes Genius SP-HF380 Wood Bluetooth 5.0<br><br><span>$ 13.900</span><br><button class="cyan">Añadir</button> </h3></a>
            </div>
            <div class="contenido">
               <img class="imagn-column" src="../img/Parlantes Genius SP-HF380 Wood Bluetooth 5.01.jpg" alt=""><h3> Colores: Marron <br>
                Conexión: Cableado<br>
                Inalámbrico Por Bluetooth: Si</h3>
            </div>
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Barra de Sonido Genius 200BT RGB Bluetooth 5.1 USB.jpg" alt=""><h3>Barra de Sonido Genius 200BT RGB Bluetooth 5.1 USB <br><br><span>$ 15.450</span> <br><button class="cyan">Añadir</button></h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Barra de Sonido Genius 200BT RGB Bluetooth 5.1 USB1.jpg" alt=""><h3> Colores: Negro RGB <br>
                Conexión: Cableado<br>
                Inalámbrico Por Bluetooth: Si</h3>
            </div>
          </div>
          <div class="grid-padre">
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Barra de Sonido Redragon GS570 Darknet RGB.jpg " alt=""><h3>Barra de Sonido Redragon GS570 Darknet RGB <br><br><span>$ 24.550</span><br><button class="cyan">Añadir</button></h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Barra de Sonido Redragon GS570 Darknet RGB1.jpg " alt=""><h3> Colores: Negro RGB <br>
                Conexión: Cableado<br>
                Inalámbrico Por Bluetooth: Si</h3>
            </div>
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Parlantes Genius SP-HF500A II 220v.jpg" alt=""><h3>Parlantes Genius SP-HF500A II 220v <br><br><span>$ 44.950</span><br><button class="cyan">Añadir</button></h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Parlantes Genius SP-HF500A II 220v1.jpg" alt=""><h3> Colores: Negro RGB <br>
                Conexión: Cableado<br>
                Inalámbrico Por Bluetooth: Si
                </h3>
            </div>
          </div>
          <br><br>
        </section>
    </article>
    <aside>

    </aside>
    <footer class="pie">
      <h6>Seguinos en:</h6>
      <div>
      <a href="https://www.facebook.com/compragamer" target="_blank"><img src="../img/facebook_108044.png" alt=""></a>
      <a href="https://www.instagram.com/compragamer_oficial/" target="_blank"><img src="../img/instagram_108043.png" alt=""></a>
      <a href="https://www.youtube.com/c/CompraGamer" target="_blank"><img src="../img/youtube_108041.png" alt=""></a>
      <H4 class="derecho">
        Derechos reservados por mi, Maxi
      </H4>
      </div>
  </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>