<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../Css/style.css">
    <title>COMPRA GAMER 2 | Compra Gamer 2</title>
</head>
<body>
    <header>
        <main>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  <a class="navbar-brand" href="../../index.html"><img src="../img/logo1.jpg" class="logo" alt=""></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Productos
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="../View/Procesador.html">Procesadores</a></li>
                          <li><a class="dropdown-item" href="../View/MemoriaRam.html">Memorias Ram</a></li>
                          <li><a class="dropdown-item" href="../View/Mothers.html">Mothers</a></li>
                          <li><a class="dropdown-item" href="../View/Teclados.html">Teclados</a></li>
                          <li><a class="dropdown-item" href="../View/DiscorRigido.html">Almacenamiento</a></li>
                          <li><a class="dropdown-item" href="../View/Mouse.html">Mouse</a></li>
                          <li><a class="dropdown-item" href="../View/Auriculares.html">Auriculares</a></li>
                          <li><a class="dropdown-item" href="../View/Parlantes.html">Parlantes</a></li>
                          <li><a class="dropdown-item" href="../View/Microfonos.html">Microfonos</a></li>
                          <li><a class="dropdown-item" href="../View/Cooler.html">Coolers</a></li>
                          <li><a class="dropdown-item" href="../View/PlacaDeVideo.html">Placas de Video</a></li>
                          <li><a class="dropdown-item" href="../View/Gabinetes.html">Gabinetes</a></li>
                          <li><a class="dropdown-item" href="../View/Fuentes.html">Fuentes</a></li>
                          <li><a class="dropdown-item" href="../View/Monitores.html">Monitores</a></li>
                          <li><a class="dropdown-item" href="../View/Sillas.html">Sillas Gamers</a></li>
                        </ul>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Sobre Nosotros</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Sponsor
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="https://www.amd.com/es.html" target="_blank"><img class="Sponsor" src="../img/amd.png" alt="amd logo"></a></li>
                          <li><a class="dropdown-item" href="https://www.intel.la/content/www/xl/es/homepage.html" target="_blank"><img class="Sponsor" src="../img/intel.png" alt="intel logo"></a></li>
                          <li><a class="dropdown-item" href="https://www.nvidia.com/es-la/" target="_blank"><img class="Sponsor" src="../img/nvidia.png" alt="nvidia logo"></a></li>
                          <li><a class="dropdown-item" href="https://www.westerndigital.com/es-la/brand/wd-black" target="_blank"><img class="Sponsor" src="../img/wd.png" alt="wd_black logo"></a></li>
                          <li><a class="dropdown-item" href="https://rog.asus.com" target="_blank"><img class="Sponsor" src="../img/rog.png" alt="republic of gamers logo"></a></li>
                          <li><a class="dropdown-item" href="https://row.hyperx.com" target="_blank"><img class="Sponsor" src="../img/hyperx.png" alt="hyper x logo"></a></li>
                        </ul>
                      </li>
                    </ul>
                    <form class="d-flex" role="search">
                      <input class="form-control me-2" type="search" placeholder="Buscar Articulo" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Buscar</button>
                     <button class="btn btn-outline-success" type="button"><a href="../View/form.html">Registrarse</a></button>
                     <button class="btn btn-outline-success" type="button"><a href="">Iniciar Sesion</a>
                    </button>
                    </form>
                  </div>
                </div>
              </nav>
        </main>
    </header>
    <article>
      <section>
        <img class="hear-img" src="../img/amdprocesador.jpg" alt="">
          <h2>Procesadores</h2>
          <hr>
          <div class="grid-padre">
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Procesador Intel Celeron G5925 3.6GHz Socket 1200 Comet Lake.jpg" alt=""><h3>Procesador Intel Celeron G5925 3.6GHz Socket 1200.. <br><br><span>$ 21.999</span> <br><button class="cyan">Añadir</button></h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Procesador Intel Celeron G5925 3.6GHz Socket 1200 Comet Lake.jpg" alt=""><h3> Modelo: G5925 <br>
                Socket: 1200 Comet Lake <br>
                Núcleos: 2 <br>
                Frecuencia: 3600.00 mhz <br>
                Chipset Gpu: Intel UHD Graphics 610 <br>
                Hilos: 2</h3>
            </div>
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Procesador AMD RYZEN 3 3200G 4.0GHz Turbo + Radeon Vega 8 AM4 Wraith Stealth Cooler.jpg" alt=""><h3>Procesador AMD RYZEN 3 3200G 4.0GHz Turbo..<br><br><span>$ 64.900</span><br><button class="cyan">Añadir</button> </h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Procesador AMD RYZEN 3 3200G 4.0GHz Turbo + Radeon Vega 8 AM4 Wraith Stealth Cooler1.jpg" alt=""><h3> Modelo: Ryzen 3 3200G <br>
                Socket: AM4 APU 2th Gen <br>
                Núcleos: 4 <br>
                Frecuencia: 3600.00 mhz <br>
                Chipset Gpu: Radeon Vega 8 <br>
                Hilos: 4</h3>
            </div>
          </div>
          <div class="grid-padre">
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Procesador Intel Core i3 10105F 4.4GHz Turbo Socket 1200 Comet Lake.jpg" alt=""><h3>Procesador Intel Core i3 10105F 4.4GHz Turbo Socket ..<br><br><span>$ 41.150</span> <br><button class="cyan">Añadir</button></h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Procesador Intel Core i3 10105F 4.4GHz Turbo Socket 1200 Comet Lake1.jpg" alt=""><h3> Modelo:10105F <br>
                Socket: 1200 Comet Lake <br>
                Núcleos: 4 <br>
                Frecuencia: 3700.00 mhz <br>
                Chipset Gpu: NO Posee Gráficos Integrados <br>
                Hilos: 8</h3>
            </div>
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Procesador AMD RYZEN 5 3600 4.2GHz Turbo AM4 Wraith Stealth Cooler1.jpg" alt=""><h3>Procesador AMD RYZEN 5 3600 4.2GHz Turbo AM4 .. <br><br><span>$ 93.900</span> <br><button class="cyan">Añadir</button></h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Procesador AMD RYZEN 5 3600 4.2GHz Turbo AM4 Wraith Stealth Cooler.jpg" alt=""><h3> Modelo: Ryzen 5 3600 <br>
                Socket: AM4 Ryzen 3th Gen <br>
                Núcleos: 6 <br>
                Frecuencia: 3600.00 mhz <br>
                Chipset Gpu: NO Posee Gráficos Integrados <br>
                Hilos: 12</h3>
            </div>
          </div>
          <div class="grid-padre">
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Procesador Intel Core i5 11400F 4.40GHz Turbo S1200 Rocket Lake.jpg" alt=""><h3>GProcesador Intel Core i5 11400F 4.40GHz Turbo S1200.. <br><br><span>$ 102.350</span> <br><button class="cyan">Añadir</button></h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Procesador Intel Core i5 11400F 4.40GHz Turbo S1200 Rocket Lake1.jpg" alt=""><h3> Modelo:11400F <br>
                Socket: 1200 Rocket Lake-S <br>
                Núcleos: 6 <br>
                Frecuencia: 2600.00 mhz <br>
                Chipset Gpu: NO Posee Gráficos Integrados <br>
                Hilos: 12</h3>
            </div>
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Procesador AMD Ryzen 5 PRO 4650G 4.2GHz Turbo + Wraith Stealth Cooler OEM.jpg" alt=""><h3>Procesador AMD Ryzen 5 PRO 4650G 4.2GHz Turbo .. <br><br><span>$ 84.900</span><br><button class="cyan">Añadir</button> </h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Procesador AMD Ryzen 5 PRO 4650G 4.2GHz Turbo + Wraith Stealth Cooler OEM.jpg" alt=""><h3> Modelo: Ryzen 5 PRO 4650G <br>
                Socket: AM4 APU 3th Gen <br>
                Núcleos: 6 <br>
                Frecuencia: 3700.00 mhz <br>
                Chipset Gpu: Radeon Vega 7 <br>
                Hilos: 12</h3>
            </div>
          </div>
          <div class="grid-padre">
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Procesador Intel Core i5 11600K 4.9GHz Turbo Socket 1200 Rocket Lake.jpg" alt=""><h3>Procesador Intel Core i5 11600K 4.9GHz Turbo..<br><br><span>$ 167.740</span><br><button class="cyan">Añadir</button> </h3></a>
            </div>
            <div class="contenido">
               <img class="imagn-column" src="../img/Procesador Intel Core i5 11600K 4.9GHz Turbo Socket 1200 Rocket Lake1.jpg" alt=""><h3> Modelo:11600K <br>
                Socket: 1200 Rocket Lake-S <br>
                Núcleos: 6 <br>
                Frecuencia: 3900.00 mhz <br>
                Chipset Gpu: UHD Graphics 750 <br>
                Hilos: 12</h3>
            </div>
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Procesador AMD Ryzen 7 5800X 4.7GHz Turbo AM4 - No incluye Cooler.jpg" alt=""><h3>Procesador AMD Ryzen 7 5800X 4.7GHz Turbo AM4 <br><br><span>$ 216.100</span> <br><button class="cyan">Añadir</button></h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Procesador AMD Ryzen 7 5800X 4.7GHz Turbo AM4 - No incluye Cooler1.jpg" alt=""><h3> Modelo: 5800X <br>
                Socket: AM4 Ryzen 4th Gen <br>
                Núcleos: 8 <br>
                Frecuencia: 3800.00 mhz <br>
                Chipset Gpu: NO Posee Gráficos Integrados <br>
                Hilos: 16 <br></h3>
            </div>
          </div>
          <div class="grid-padre">
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Procesador Intel Core i7 10700 4.8GHz Turbo Socket 1200 Comet Lake.jpg" alt=""><h3>Procesador Intel Core i7 10700 4.8GHz Turbo ... <br><br><span>$ 191.500</span><br><button class="cyan">Añadir</button></h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Procesador Intel Core i7 10700 4.8GHz Turbo Socket 1200 Comet Lake1.jpg" alt=""><h3> Modelo: Core i7 10700 <br>
                Socket: 1200 Comet Lake <br>
                Núcleos: 8 <br>
                Frecuencia: 2900.00 mhz <br>
                Chipset Gpu: Intel HD Graphics 630 <br>
                Hilos: 16</h3>
            </div>
            <div class="grid-hijo">
              <a class="" href=""><img class="imagn-column" src="../img/Procesador AMD Ryzen 9 5950X 4.9GHz Turbo AM4 - No incluye Cooler.jpg" alt=""><h3>Procesador AMD Ryzen 9 5950X 4.9GHz Turbo AM4 .. <br><br><span>$ 388.900</span><br><button class="cyan">Añadir</button></h3></a>
            </div>
            <div class="contenido">
              <img class="imagn-column" src="../img/Procesador AMD Ryzen 9 5950X 4.9GHz Turbo AM4 - No incluye Cooler1.jpg" alt=""><h3> Modelo: 5950X <br>
                Socket: AM4 Ryzen 4th Gen <br>
                Núcleos: 16 <br>
                Frecuencia: 3400.00 mhz <br>
                Chipset Gpu: NO Posee Gráficos Integrados <br>
                Hilos: 32
                </h3>
            </div>
          </div>
          <br><br>
        </section>
    </article>
    <aside>

    </aside>
    <footer class="pie">
      <h6>Seguinos en:</h6>
      <div>
      <a href="https://www.facebook.com/compragamer" target="_blank"><img src="../img/facebook_108044.png" alt=""></a>
      <a href="https://www.instagram.com/compragamer_oficial/" target="_blank"><img src="../img/instagram_108043.png" alt=""></a>
      <a href="https://www.youtube.com/c/CompraGamer" target="_blank"><img src="../img/youtube_108041.png" alt=""></a>
      <H4 class="derecho">
        Derechos reservados por mi, Maxi
      </H4>
      </div>
  </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>